@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }

  h1 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply mb-6;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply md:text-2xl;
    @apply mb-4;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply mb-4;
    @apply font-bold;
  }

  h4 {
    @apply text-base;
    @apply md:text-lg;
    @apply mb-4;
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply mb-4;
    font-size: inherit;
    line-height: inherit;
  }
}

.pfmv-card,
.fiche-solution-small-vertical-card {
  border-radius: 0.9375rem;
  background: #fff;
}

.pfmv-card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 145, 0.2);
}

.pfmv-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 145, 0.3);
}

.fiche-solution-small-vertical-card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 145, 0.2);
}

.fiche-solution-small-vertical-card:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 145, 0.3);
}

.pfmv-card:hover,
.fiche-solution-small-vertical-card:hover {
  background: #fff !important;
  outline: 1px solid var(--light-background-action-high-blue-france, #000091);
  outline-offset: 0px;

  .svg-blue-hover {
    filter: invert(16%) sepia(71%) saturate(3750%) hue-rotate(236deg) brightness(66%) contrast(139%);
  }

  .text-blue-hover {
    color: var(--text-label-blue-france);
  }

  .fr-btn--tertiary:hover {
    background: var(--hover-tint);
  }
}

.aide-decision-background {
  background: linear-gradient(180deg, #f4f4ff 59.71%, #64aafd 143.4%);
  z-index: -1000;
}

.cmsRichText {
  & ul {
    list-style: outside;
    margin-left: 1rem;
  }
}

.cmsRichText {
  & ul {
    list-style: outside;
    margin-left: 1rem;
  }
}

.fr-card__title a[href] {
  color: var(--text-action-high-grey);
}

.greenSolutionBanner {
  background: linear-gradient(180deg, rgba(12, 114, 65, 0) 26.27%, rgba(16, 58, 35, 0.8) 100%);
}

.blueSolutionBanner {
  background: linear-gradient(180deg, rgba(24, 19, 81, 0) 26.27%, rgba(15, 76, 168, 0.8) 100%);
}

.graySolutionBanner {
  background: linear-gradient(180deg, rgba(33, 35, 34, 0) 26.27%, rgba(33, 35, 34, 0.8) 100%);
}

.softSolutionBanner {
  background: linear-gradient(180deg, rgba(97, 74, 13, 0) 26.27%, rgba(97, 74, 13, 0.8) 100%);
}

.customTab[aria-selected="true"],
.customTab:hover {
  background-color: rgba(66, 17, 170, 0.1) !important;
  color: var(--text-label-blue-france);
}

.customTab {
  margin: 0;
  height: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 0.875rem;
  text-wrap: nowrap;
}

.customPanel {
  padding: 3rem 0 3rem 0 !important;
}

.typeSolutionGreenIcon {
  color: var(--border-default-green-emeraude);
}

.typeSolutionBlueIcon {
  color: var(--background-action-high-info-hover);
}

.typeSolutionGrayIcon {
  color: var(--text-disabled-grey);
}
