@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }

  h1 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply mb-6;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply md:text-2xl;
    @apply mb-4;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply mb-4;
    @apply font-bold;
  }

  h4 {
    @apply text-base;
    @apply md:text-lg;
    @apply mb-4;
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply mb-4;
    font-size: inherit;
    line-height: inherit;
  }
}
