@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }

  h1 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply mb-6;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply md:text-2xl;
    @apply mb-4;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply mb-4;
    @apply font-bold;
  }

  h4 {
    @apply text-base;
    @apply md:text-lg;
    @apply mb-4;
    @apply font-bold;
  }

  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply mb-4;
    font-size: inherit;
    line-height: inherit;
  }
}

.pfmv-card,
.fiche-solution-small-vertical-card {
  border-radius: 0.9375rem;
  background: #fff !important;
}

.pfmv-flat-card {
  border-radius: 0.9375rem;
}

.pfmv-strong-card {
  border-radius: 10px;
  background: #fff !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 145, 0.2);
}

.pfmv-card {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 145, 0.15);
}

.pfmv-flat-card {
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.pfmv-card-outline {
  background: #fff !important;
  outline: 1px solid #000091;
  outline-offset: 0px;
}

.pfmv-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 145, 0.25);
}

.pfmv-card-no-hover {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 145, 0.15);
  border-radius: 0.9375rem;
  background: #fff;
}

.pfmv-card.no-shadow:hover {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 145, 0.15);

  .text-blue-hover {
    color: var(--text-title-grey);
  }
}

.fiche-solution-small-vertical-card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 145, 0.2);
}

.fiche-solution-small-vertical-card:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 145, 0.3);
}

.svg-orange {
  filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(7104%) hue-rotate(15deg) brightness(87%)
    contrast(108%);
}

.svg-blue {
  filter: invert(16%) sepia(71%) saturate(3750%) hue-rotate(236deg) brightness(66%) contrast(139%);
}

.pfmv-card:hover,
.fiche-solution-small-vertical-card:hover {
  background: #fff !important;
  outline: 1px solid var(--light-background-action-high-blue-france, #000091);
  outline-offset: 0px;

  .svg-blue-hover {
    filter: invert(16%) sepia(71%) saturate(3750%) hue-rotate(236deg) brightness(66%) contrast(139%);
  }

  .text-blue-hover {
    color: var(--text-label-blue-france);
  }

  .fr-btn--tertiary:hover {
    background: var(--hover-tint);
  }
}

.aide-decision-background {
  background: linear-gradient(180deg, #f4f4ff 59.71%, #64aafd 143.4%);
  z-index: -1000;
}

.cmsRichText {
  & ul {
    list-style: outside;
    margin-left: 1rem;
  }
}

.cmsRichText {
  & ol {
    list-style: outside;
    margin-left: 1.5rem;
  }
}

.fr-card__title a[href] {
  color: var(--text-action-high-grey);
}

.greenSolutionBanner {
  background: linear-gradient(180deg, rgba(12, 114, 65, 0) 26.27%, rgba(16, 58, 35, 0.8) 100%);
}

.blueSolutionBanner {
  background: linear-gradient(180deg, rgba(24, 19, 81, 0) 26.27%, rgba(15, 76, 168, 0.8) 100%);
}

.graySolutionBanner {
  background: linear-gradient(180deg, rgba(33, 35, 34, 0) 26.27%, rgba(33, 35, 34, 0.8) 100%);
}

.softSolutionBanner {
  background: linear-gradient(180deg, rgba(97, 74, 13, 0) 26.27%, rgba(97, 74, 13, 0.8) 100%);
}

.customTab[aria-selected="true"],
.customTab:hover {
  background-color: rgba(66, 17, 170, 0.1) !important;
  color: var(--text-label-blue-france);
}

.customTab {
  margin-top: 0;
  height: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
}
.customTab:focus {
  outline-offset: -2px;
}

.simpleTab[aria-selected="true"] {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--text-label-blue-france);
  font-weight: bold;
}

.simpleTab {
  @apply text-black;
}

.simpleTab {
  margin: 0;
  height: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a6a6a6;
}

.customPanel {
  padding: 3rem 0 3rem 0 !important;
}

.typeSolutionGreenIcon {
  color: var(--border-default-green-emeraude);
}

.typeSolutionBlueIcon {
  color: var(--background-action-high-info-hover);
}

.typeSolutionGrayIcon {
  color: var(--text-disabled-grey);
}

.typeSolutionSoftIcon {
  color: #d6a23e;
}

.bigIconAccordion::after {
  --icon-size: 1.5rem;
}

.image-gallery-slides {
  max-height: 400px !important;

  .image-gallery-image {
    max-height: 400px !important;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%23333' stroke-width='5' stroke-dasharray='13' stroke-dashoffset='23' stroke-linecap='square'/%3e%3c/svg%3e");
  opacity: 0.4;
  border-radius: 24px;
}

.gradient-l-to-r-navy {
  background: linear-gradient(0deg, rgba(39, 39, 135, 1) 37%, rgba(17, 17, 106, 0) 84%);
}

@media (min-width: 1024px) {
  .gradient-l-to-r-navy {
    background: linear-gradient(73deg, rgba(39, 39, 135, 1) 37%, rgba(17, 17, 106, 0) 84%);
  }
}

.gradient-solution-grise {
  background: linear-gradient(179.96deg, rgba(33, 35, 34, 0) 21.41%, rgba(33, 35, 34, 0.9) 99.96%);
}

.gradient-solution-bleue {
  background: linear-gradient(180deg, rgba(24, 19, 81, 0) 39.81%, rgba(33, 103, 215, 0.9) 100%);
}

.gradient-solution-douce {
  background: linear-gradient(180deg, rgba(223, 174, 45, 0) 26.27%, #614a0d 100%);
}

.gradient-solution-verte {
  background: linear-gradient(180.29deg, rgba(12, 114, 65, 0) 26.19%, rgba(35, 109, 69, 0.9) 99.75%);
}

.savePicto {
  path {
    fill: var(--background-active-blue-france);
  }
}

.savePicto:hover {
  path {
    fill: var(--background-action-high-blue-france-active);
  }
}

.notification-badge {
  @apply !relative block after:absolute after:right-2 after:top-3 after:size-[7.5px] after:rounded-full after:bg-dsfr-background-flat-blue-france;
}

.new-project-acess-badge {
  @apply !relative after:absolute after:-right-[3px] after:-top-[3px] after:size-2 after:rounded-full after:bg-dsfr-action-high-red-hover;
}

.xl-modal .fr-grid-row > div {
  @apply w-full max-w-full flex-shrink-0 flex-grow-0 basis-full;
}

.l-modal .fr-grid-row > div {
  @apply w-[90%] max-w-[90%] flex-shrink-0 flex-grow-0 basis-full;
}

.md-modal .fr-grid-row > div {
  @apply w-[80%] max-w-[80%] flex-shrink-0 flex-grow-0 basis-full;
}

.rounded-modal .fr-modal__body {
  @apply rounded-[20px];
}

.custom-modal .fr-modal__body {
  @apply rounded-[20px];
}

.custom-modal .fr-modal__title {
  display: none;
}

.custom-modal .fr-container--fluid {
  @apply overflow-visible;
}

.xl-modal .fr-modal__body {
  @apply h-[90vh] !max-h-[90vh] rounded-[20px];
}

.l-modal .fr-modal__body {
  @apply h-full !max-h-[80vh] rounded-[20px];
}

.xl-modal.fr-modal::before {
  flex: none;
  height: unset;
  margin: 5vh 0 0;
}

.l-modal.fr-modal::before {
  flex: none;
  height: unset;
  margin: 10vh 0 0;
}

.md-modal.fr-modal::before {
  flex: none;
  height: unset;
  margin: 10vh 0 0;
}

.l-modal .fr-modal__content {
  @apply mb-0;
}

.md-modal .fr-modal__content {
  @apply mb-0;
}

.fiche-diagnostic-modal .fr-modal__body {
  @apply bg-dsfr-background-alt-red-marianne;
}

.fr-consent-banner {
  border-radius: 1.5rem;
  max-width: 32rem !important;

  .fr-btn {
    border-radius: 1.5rem;
  }
}
#fr-consent-modal-button-accept-all,
#fr-consent-modal-button-refuse-all,
#fr-consent-modal-button-confirm {
  border-radius: 1.5rem;
}

.fr-modal__content {
  .fr-btns-group {
    direction: rtl;
  }
}

#fr-consent-banner-button-refuse-app {
  background-color: transparent !important;
  --hover: inherit !important;
  --active: inherit !important;
  color: var(--text-action-high-blue-france) !important;
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france) !important;
}

#fr-consent-banner-button-refuse-app:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#fr-consent-banner-button-refuse-app:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#fr-consent-modal-control-button {
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.xl-modal .fr-modal__title {
  display: none;
}

.xl-modal .fr-modal__body {
  @apply !max-h-[90vh] rounded-[20px];
}

.xl-modal .fr-container--fluid {
  @apply overflow-visible;
}

.xl-modal.fr-modal::before {
  flex: none;
  height: unset;
  margin: 5vh 0 0;
}

.customSelect .fr-select {
  background-color: white !important;
  margin-top: 0 !important;
}

.join-project-modal .fr-modal__body {
  @apply rounded-[20px];
}

.join-project-modal .fr-col-lg-8,
.join-project-modal .fr-col-lg-10,
.join-project-modal .fr-col-lg-12 {
  @apply w-[90%] max-w-full flex-none;
}

.agent-popover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 145, 0.2);
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.conic-gradient {
  background-image: conic-gradient(
      from -33.69deg at 50% 100%,
      transparent 0deg,
      var(--background-overlap-grey) 0deg,
      var(--background-overlap-grey) 67.38deg,
      transparent 67.38deg
    ),
    conic-gradient(
      from -33.69deg at 50% 100%,
      transparent 0deg,
      var(--border-default-grey) 0deg,
      var(--border-default-grey) 67.38deg,
      transparent 67.38deg
    ),
    linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)),
    linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey)) !important;
}

.agentResponse {
  ol {
    padding-inline-start: var(--ol-start) !important;
  }
}

.custom-marker-cluster {
  @apply !flex  !items-center !justify-center rounded-full border-[6px] border-dsfr-border-action-low-blue-france !bg-white text-base font-bold text-pfmv-navy;
}

.annuaireCardAccordionBtn.fr-accordion__btn::after {
  content: none;
}

.annuaireCardAccordionBtn.fr-accordion__btn::before {
  --icon-size: 1rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  content: "";
  transition: transform 0.3s;
  margin-right: 0.5rem !important;
}

.annuaireCardAccordionBtn.fr-accordion__btn[aria-expanded="true"]::before {
  transform: rotate(-180deg);
}

.leaflet-control-zoom {
  @apply !bg-none;

  a {
    background-image: none !important;
  }
}

.mapAnnuaire .leaflet-control-zoom {
  @apply !absolute !bottom-[-403px] !left-[10px] !border-none;
}

.mapAnnuaire .leaflet-container a {
  @apply !text-pfmv-navy;
}

.annuaireFilterAccordion .fr-accordion__title .fr-accordion__btn {
  @apply !py-0;
}

ul.arrow-list {
  list-style: none;
  padding-left: 0;
}

ul.arrow-list li {
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}

ul.arrow-list li::before {
  content: "";
  position: absolute;
  left: -6px;
  top: -2px;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='28' height='28' fill='%23eb754b'%3E%3Cpath d='M20 12L10 18V6L20 12Z'%3E%3C/path%3E%3C/svg%3E");
}

.hover-transparent:hover {
  background-color: transparent !important;
}

.pfmv-big-tooltip {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 145, 0.15);
  border-radius: 5px;
  background: #fff;
}

.fiche-diagnostic-icone {
  background-image: url("/images/fiches-diagnostic/diag-icone-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.fiche-diagnostic-icone-thick {
  background-image: url("/images/fiches-diagnostic/diag-icone-bg-thick.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.fr-breadcrumb__link {
  @apply !font-normal;
}

h5.fr-nav__link {
  @apply !font-bold;
}

@media (min-width: 576px) {
  .fr-mega-menu .fr-col-12 {
    flex: 0 0 33% !important;
    max-width: 33% !important;
  }
}

a.fr-nav__link {
  box-shadow: 0 calc(1rem + 1px) 0 -1rem var(--border-default-grey);
}

.menuCategoryShadowNone a.fr-nav__link {
  box-shadow: none !important;
}

.menuCategoryShadowNone h5.fr-mega-menu__category {
  box-shadow: none !important;
}

.custom-maplibre-popup .maplibregl-popup-content {
  font-family: "Marianne" !important;
  background-color: #ffffff !important;
  border-radius: 0.5rem !important;
  padding: 20px !important;
  position: relative !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16) !important;
  min-width: max-content !important;
  font-size: 12px !important;
}

.custom-maplibre-popup .maplibregl-popup-tip {
  border-top-color: #ffffff !important;
}

.custom-maplibre-popup .maplibregl-popup-close-button {
  @apply mr-2;
}

.normalList {
  list-style: outside;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-inline-start: 1rem;
}
