name: CI
permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: ["main", "prod"]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Lint, build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      NEXTAUTH_SECRET: ${{ vars.NEXTAUTH_SECRET }}
      NEXT_PUBLIC_STRAPI_URL: ${{ secrets.NEXT_PUBLIC_STRAPI_URL }}
      STRAPI_TOKEN: ${{ secrets.STRAPI_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - name: Enable Corepack
        shell: bash
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 22.14.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Prettier
        run: pnpm run prettier

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prod'
    env:
      SCALINGO_APP_NAME: ${{ github.ref == 'refs/heads/prod' && vars.SCALINGO_PROD_APP_NAME || vars.SCALINGO_STAGING_APP_NAME }}
      SCALINGO_HOST: ${{ github.ref == 'refs/heads/prod' && vars.SCALINGO_PROD_HOST || vars.SCALINGO_STAGING_HOST }}
    steps:
      - uses: actions/checkout@v4
      - uses: kolok/deploy-to-scalingo@v1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          known-host: ${{ env.SCALINGO_HOST }}
          app-name: ${{ env.SCALINGO_APP_NAME }}
